{% extends "base.html" %}

{% block start%}

<div class="container mt-5 card p-3 shadow-lg">
      <form class="col-6 mx-auto" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Add Receipe</h2>
            <hr>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
              <input name="reciepe_name" required type="text" class="form-control" >
              
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
              <textarea name="reciepe_description" required class="form-control"></textarea>
            </div>
            <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
                  <input name="reciepe_image" type="file" class="form-control" >
                </div>
            <button type="submit" class="btn btn-success">Add Receipe</button>
      </form>
</div>
     
      <hr> 
      <div class="mt-5">
        <div class="mx-auto col-6">
          <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Search Food</label>
            <input name="search" class="form-control" >
          </div>

          <button type="submit" class="btn btn-primary">Search</button>
        </form>
        </div>
      </div>

      <table class="table mt-5">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Reciepe Name</th>
                <th scope="col">Reciepe Description</th>
                <th scope="col">Reciepe Image</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for reciepe in reciepes %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{reciepe.reciepe_name}}</td>
                <td>{{reciepe.reciepe_description}}</td>
                <td>
                  <img src="/media/{{reciepe.reciepe_image}}" style="height:100px"></td>
                  <td> 
                        <a href="/delete-reciepe/{{reciepe.id}}/" class="btn btn-danger  m-2">Delete</a>
                        <a href="/update-reciepe/{{reciepe.id}}/" class="btn btn-success">Update</a>
                  </td>
              </tr>
                  {% endfor %}

            </tbody>
      </table>


{% endblock %}