{% extends "base.html" %}

{% block start%}

<div class="container mt-5 card p-3 shadow-lg">
      <form class="col-6 mx-auto" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Update Receipe</h2>
            <hr>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
              <input name="reciepe_name" value="{{reciepe.reciepe_name}}" required type="text" class="form-control" >
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
              <textarea name="reciepe_description"  required class="form-control">{{reciepe.reciepe_description}}</textarea>
            </div>
            <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
                  <input name="reciepe_image" type="file" class="form-control" >
                </div>
            <button type="submit" class="btn btn-success">Update Reciepe</button>
      </form>

      <!-- {{reciepes}} -->


</div>

{% endblock %}